<?xml version="1.0" encoding="utf-16"?>
<ModSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Version>1</Version>
  <Colors>
    <PlayerColors>
      <Id>76561197998444746</Id>
      <Colors>Cg8NAAAAACXNzEy/PQAAADIKDw0AAAAAJaDqT7092EkcvgoPDauqqj4lltztvj2SuIO+Cg8NMzMTPyUAAAAAPQAAAAAKDw2lT/o9JdDMzL09OKRwvAoPDQAAAAAlMzNzvz3NzMw+Cg8NAAAAACWPwnW/PQAAAL8KDw0AAAAAJZqZWb89zcxMPgoPDQAAAAAlnJkZPj3+/38+Cg8Nq6qqPiXC9ai+Pc7MTL0KDw0zMxM/JZqZGT49zcxMPgoPDaVP+j0l0MxMPT1I8GI8Cg8NAAAAACXMzEy/PZqZGT8KDw0AAAAAJShcT789mpmZvg==</Colors>
    </PlayerColors>
    <PlayerColors>
      <Id>76561198043053223</Id>
      <Colors>Cg8NAAAAACUpXE+/PZqZmb4KDw0AAAAAJQAAAAA9zcxMPQoPDauqqj4lj8L1vj0AAIC+Cg8NMzMTPyUAAAAAPQAAAAAKDw2lT/o9Jc3MzL09uB6FPgoPDQAAAAAlMzNzvz3NzMw+Cg8NAAAAACWPwnW/PQAAAL8KDw0AAAAAJZqZWb89zcxMPgoPDQAAAAAlmpkZPj0AAIA+Cg8Nq6qqPiXC9ai+PczMTL0KDw0zMxM/JZqZGT49zcxMPgoPDQAAAAAlzcxMvz2uR+E+Cg8NAAAAACXNzEy/PZqZmb4KDw0AAAAAJShcT789mpmZvg==</Colors>
    </PlayerColors>
    <PlayerColors>
      <Id>76561198872265726</Id>
      <Colors>Cg8NAAAAACUAAIC/PQAAAAAKDw0AAAAAJQAAAAA9zcxMPQoPDauqqj4lj8L1vj0AAIC+Cg8NMzMTPyUAAAAAPQAAAAAKDw2lT/o9Jc3MzL09uB6FPgoPDQAAAAAlMzNzvz3NzMw+Cg8NAAAAACWPwnW/PQAAAL8KDw0AAAAAJZqZWb89zcxMPgoPDQAAAAAlmpkZPj0AAIA+Cg8Nq6qqPiXC9ai+PczMTL0KDw0zMxM/JZqZGT49zcxMPgoPDaVP+j0lzsxMPT0ehes+Cg8NAAAAACXMzEy/PZqZGT8KDw0AAAAAJShcT789mpmZvg==</Colors>
    </PlayerColors>
    <PlayerColors>
      <Id>76561198024357813</Id>
      <Colors>Cg8NAAAAACUAAIC/PQAAAAAKDw0AAAAAJQAAAAA9zcxMPQoPDauqqj4lj8L1vj0AAIC+Cg8NMzMTPyUAAAAAPQAAAAAKDw2lT/o9Jc3MzL09uB6FPgoPDQAAAAAlMzNzvz3NzMw+Cg8NAAAAACWPwnW/PQAAAL8KDw0AAAAAJZqZWb89zcxMPgoPDQAAAAAlmpkZPj0AAIA+Cg8Nq6qqPiXC9ai+PczMTL0KDw0zMxM/JZqZGT49zcxMPgoPDaVP+j0lzsxMPT0ehes+Cg8NAAAAACXMzEy/PZqZGT8KDw0AAAAAJShcT789mpmZvg==</Colors>
    </PlayerColors>
    <PlayerColors>
      <Id>76561198181133747</Id>
      <Colors>Cg8NAAAAACUAAIC/PQAAAAAKDw0AAAAAJQAAAAA9zcxMPQoPDauqqj4lj8L1vj0AAIC+Cg8NMzMTPyUAAAAAPQAAAAAKDw2lT/o9Jc3MzL09uB6FPgoPDQAAAAAlMzNzvz3NzMw+Cg8NAAAAACWPwnW/PQAAAL8KDw0AAAAAJZqZWb89zcxMPgoPDQAAAAAlmpkZPj0AAIA+Cg8Nq6qqPiXC9ai+PczMTL0KDw0zMxM/JZqZGT49zcxMPgoPDaVP+j0lzsxMPT0ehes+Cg8NAAAAACXMzEy/PZqZGT8KDw0AAAAAJShcT789mpmZvg==</Colors>
    </PlayerColors>
    <PlayerColors>
      <Id>76561198060670745</Id>
      <Colors>Cg8NAAAAACUAAIC/PQAAAAAKDw0AAAAAJQAAAAA9zcxMPQoPDauqqj4lj8L1vj0AAIC+Cg8NMzMTPyUAAAAAPQAAAAAKDw2lT/o9Jc3MzL09uB6FPgoPDQAAAAAlMzNzvz3NzMw+Cg8NAAAAACWPwnW/PQAAAL8KDw0AAAAAJZqZWb89zcxMPgoPDQAAAAAlmpkZPj0AAIA+Cg8Nq6qqPiXC9ai+PczMTL0KDw0zMxM/JZqZGT49zcxMPgoPDaVP+j0lzsxMPT0ehes+Cg8NAAAAACXMzEy/PZqZGT8KDw0AAAAAJShcT789mpmZvg==</Colors>
    </PlayerColors>
    <PlayerColors>
      <Id>76561198109140494</Id>
      <Colors>Cg8NAAAAACXNzEy/PQAAADIKDw0AAAAAJQAAAAA9zcxMPQoPDauqqj4lj8L1vj0AAIC+Cg8NMzMTPyUAAAAAPQAAAAAKDw2lT/o9Jc3MzL09uB6FPgoPDQAAAAAlMzNzvz3NzMw+Cg8NAAAAACWPwnW/PQAAAL8KDw0AAAAAJZqZWb89zcxMPgoPDQAAAAAlmpkZPj0AAIA+Cg8Nq6qqPiXC9ai+PczMTL0KDw0zMxM/JZqZGT49zcxMPgoPDaVP+j0lzsxMPT0ehes+Cg8NAAAAACXMzEy/PZqZGT8KDw0AAAAAJShcT789mpmZvg==</Colors>
    </PlayerColors>
    <PlayerColors>
      <Id>76561198021972381</Id>
      <Colors>Cg8NAAAAACUAAIC/PQAAAAAKDw0AAAAAJQAAAAA9zcxMPQoPDauqqj4lj8L1vj0AAIC+Cg8NMzMTPyUAAAAAPQAAAAAKDw2lT/o9Jc3MzL09uB6FPgoPDQAAAAAlMzNzvz3NzMw+Cg8NAAAAACWPwnW/PQAAAL8KDw0AAAAAJZqZWb89zcxMPgoPDQAAAAAlmpkZPj0AAIA+Cg8Nq6qqPiXC9ai+PczMTL0KDw0zMxM/JZqZGT49zcxMPgoPDaVP+j0lzsxMPT0ehes+Cg8NAAAAACXMzEy/PZqZGT8KDw0AAAAAJShcT789mpmZvg==</Colors>
    </PlayerColors>
    <PlayerColors>
      <Id>76561198027713840</Id>
      <Colors>Cg8NAAAAACUAAIC/PQAAAAAKDw0AAAAAJQAAAAA9zcxMPQoPDauqqj4lj8L1vj0AAIC+Cg8NMzMTPyUAAAAAPQAAAAAKDw2lT/o9Jc3MzL09uB6FPgoPDQAAAAAlMzNzvz3NzMw+Cg8NAAAAACWPwnW/PQAAAL8KDw0AAAAAJZqZWb89zcxMPgoPDQAAAAAlmpkZPj0AAIA+Cg8Nq6qqPiXC9ai+PczMTL0KDw0zMxM/JZqZGT49zcxMPgoPDaVP+j0lzsxMPT0ehes+Cg8NAAAAACXMzEy/PZqZGT8KDw0AAAAAJShcT789mpmZvg==</Colors>
    </PlayerColors>
  </Colors>
</ModSettings>